@font-face {
    font-family: 'math';
    src: url('/cmunss.otf') format('opentype');
}

@font-face {
    font-family: 'jb';
    src: url('/JetBrainsMono-Regular.woff2') format('woff');
}


@font-face {
    font-family: 'fz';
    src: url('/fzletter.ttf') format('truetype');
}

.math {
    font-family: 'math';
}

.fz {
    font-family: 'fz';
}

.jb {
    font-family: 'jb', serif;
}

p{
    word-wrap: break-word;
    word-break: break-all;
}
